<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias UTEZ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <div class="container mt-3">
        <div class="titulo-con-linea">
            <h1 style="color: #009574;">Noticias UTEZ</h1>
            <div class="linea-separadora"></div>
        </div>
        <div class="row">
            <div class="col-md-5 col-12 mt-3">
                <div class="card bg-dark text-white w-100 h-100">.
                    <img src="../../../assets/img/english.jpg" class="card-img img-dark w-100 h-100"
                        style="object-fit:cover !important;">
                    <div class="card-img-overlay d-flex align-items-end">
                        <div class="text-white">
                            <a href="">
                                <h5>Más de 100 alumnos en nuestro Senior English Course</h5>
                            </a>
                            <p>Agosto 10, 2023</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-12">
                <div class="row">
                    <div class="col-md-6 col-12 mt-3">
                        <div class="card bg-dark text-white w-100 h-100">
                            <img src="../../../assets/img/fiestas.jpg" class="card-img img-dark w-100 h-100"
                                style="object-fit:cover !important;">
                            <div class="card-img-overlay d-flex align-items-end">
                                <div class="text-white">
                                    <a href="">
                                        <h5>Celebra con nosotros la "Fiesta Mexicana UTEZ 2023"</h5>
                                    </a>
                                    <p>Agosto 12, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mt-3">
                        <div class="card bg-dark text-white w-100 h-100">
                            <img src="../../../assets/img/premioEstatal.jpg" class="card-img img-dark w-100 h-100"
                                style="object-fit:cover !important;">
                            <div class="card-img-overlay d-flex align-items-end">
                                <div class="text-white">
                                    <a href="">
                                        <h5>¡Participa en el “Programa de Premio Estatal de la Juventud”!</h5>
                                    </a>
                                    <p>Septiembre 8, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mt-3">
                        <div class="card bg-dark text-white w-100 h-100">
                            <img src="../../../assets/img/nano.jpg" class="card-img img-dark w-100 h-100"
                                style="object-fit:cover !important;">
                            <div class="card-img-overlay d-flex align-items-end">
                                <div class="text-white">
                                    <a href="">
                                        <h5>Acredita UTEZ, ingeniería en nanotecnología por parte del CACEI</h5>
                                    </a>
                                    <p>Septiembre 4, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12 mt-3">
                        <div class="card bg-dark text-white w-100 h-100">
                            <img src="../../../assets/img/arboles.jpg" class="card-img img-dark w-100 h-100"
                                style="object-fit:cover !important;">
                            <div class="card-img-overlay d-flex align-items-end">
                                <div class="text-white">
                                    <a href="">
                                        <h5>UTEZ planta 100 nuevos árboles en sus instalaciones</h5>
                                    </a>
                                    <p>Septiembre 8, 2023</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-1 mb-3">
        <div class="row">
            <div class="col-md-4 col-12 mt-3">
                <div class="card w-100 h-100" style="width: 18rem;">
                    <img src="../../../assets/img/danza.png" class="card-img-top w-100"
                        style="object-fit:cover !important;">
                    <div class="card-body">
                        <h5 class="card-title">CON ORGULLO DE SER UTEZ, EL SELECTIVO DE DANZA FOLCLÓRICA PARTICIPA EN
                            UNIVERSIDAD DE GUANAJUATO</h5>
                        <p class="card-text">Con Orgullo UTEZ, el selectivo de Danza Folclórica representó a nuestra
                            casa de estudios con su participación en la Universidad Cervantina de Cultura, Universidad
                            de Guanajuato presentando estampas de Morelos y Yucatán así como polkas y a pesar de la
                            lluvia continuaron bailando al único e inigualable estilo de nuestros Halcones</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-3">
                <div class="card w-100 h-100" style="width: 18rem;">
                    <img src="../../../assets/img/pitch.jpg" class="card-img-top w-100 h-50"
                        style="object-fit:cover !important;">
                    <div class="card-body">
                        <h5 class="card-title">LLEVA A CABO DACEA EL “1ER EXPO PITCH 2023”</h5>
                        <p class="card-text">Fomentando la participación y desarrollo de negocios como alternativa para
                            el Desarrollo Sostenible, estudiantes pertenecientes al 3er. cuatrimestre de la carrera de
                            Desarrollo de Negocios realizaron la presentación de 31 proyectos mediante la técnica de
                            PITCH, el cual constó de un discurso o presentación de impacto, ágil y rápida con una
                            duración de cinco minutos con el fin de persuadir al receptor del mensaje y llegar a él.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-12 mt-3">
                <div class="card w-100 h-100" style="width: 18rem;">
                    <img src="../../../assets/img/inscripcion.jpg" class="card-img-top w-100 h-50"
                        style="object-fit:cover !important;">
                    <div class="card-body">
                        <h5 class="card-title">ARRANCA UTEZ PROCESO DE INSCRIPCIÓN 2023</h5>
                        <p class="card-text">Continuando con el proceso de Admisión a nuestra casa de estudios en su
                            edición 2023, esta semana comenzó la etapa de inscripción para los y las aspirantes
                            seleccionados de diversas carreras.

                            De esta manera, las y los nuevos estudiantes ingresarán a las aulas el día 04 de septiembre
                            en sus respectivos horarios para iniciar con su primer cuatrimestre de clases,
                            correspondiente a septiembre - diciembre.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>